<h2 class="notes">Observables</h2>
<div class="notes">A first example is the subscription to the parameters of the <code>ActivatedRoute</code> injected in the constructor</div>
<pre>
    <code>{{snippet1}}</code>
 </pre>
 <h3 class="notes">First example: <i>Interval</i></h3>
 <div class="notes">It emits an incrementing value every ms given as parameter</div>
 <div class="notes">In the example every half a second</div>
 <pre>
    <code>{{snippet2}}</code>
 </pre>
 <div>Emitted: {{countFromInterval}}</div>
 <h3 class="notes">The importance of unsubscribing</h3>
 <div class="notes warning">A new observable is geneted every time the hosting component is regenerate (every time we click on it)</div>
 <div class="notes">To avoid it we assign the subscription to a class attribute and we cancel it on <code>OnDestroy</code> lifecycle hook</div>
 <pre>
    <code>{{snippet3}}</code>
 </pre>
 <h3 class="notes">Custom observables</h3>
 <pre>
   <code>{{snippet4}}</code>
</pre>

<h4 class="notes">Errors and completion</h4>
<div class="notes">The observerable calls the methods:
   <ul>
      <li><code>next</code></li>
      <li><code>error</code></li>
      <li><code>complete</code></li>
   </ul> 
   When the error event is emitted the observable sequence stops (theoretically no unsubscribe action is required)
 </div>
 <div class="row">
   <div class="col-xs-6">
      <button class="btn btn-info" [disabled]="errorMyObservable || completeMyObservable" (click)="onCompletetMyObservable()">Complete <i>myObservable</i></button>
   </div>
   <div class="col-xs-6">
      <button class="btn btn-danger" [disabled]="errorMyObservable || completeMyObservable" (click)="onErrorMyObservable()">Emit error on <i>myObservable</i></button>
   </div>
 </div>

<div>Observed values from <code>myObservable</code>: {{countFromMyObservable}}</div>
<h3 class="notes">Operators</h3>
<div class="notes">Allows an observer to operate manipulation on the emitted data from an observer. There are many in Rxjs <code>import  map  from 'rxjs/operators';</code></div>
<h4 class="notes">Filter and Map</h4>
<pre>
   <code>{{snippet6}}</code>
</pre>
<div>Value of <code>valueFromMyPipedObservable</code>: <b>{{valueFromMyPipedObservable}}</b></div>
<h3 class="notes">Subject</h3>
<div class="notes">With normal observables, observers are <span class="warning">passive</span> meaning that they receive the observed data from the observable without knowing when this will happen.</div>
<div class="notes">Subject is different because the <span class="warning">observer is active</span>. It actively calls <code>next()</code> on it to trigger next data to be emitted (good for user interactions)</div>
<pre>
   <code>{{snippet7}}</code>
</pre>
<div class="notes">
   We can now trigger the emit of the next value with the callback in the click event handler of the button below
</div>
<pre>
   <code>{{snippet8}}</code>
</pre>
<div class="row">
   <div class="col-xs-3">
      <button class="btn btn-info" (click)="onEmitNewDate()">Emit on Subject</button>
   </div>
   <div class="col-xs-9">
      Value of the emitted (formatted) Date: <b>{{formattedDate}}</b>
   </div>
</div>

