<div class="row">
    <div class="col-xs-12">
        <h2 class="notes">Routing module configuration</h2>
        <div class="notes">
            <p> The <code>app.module.ts</code> is the place where we add <b>Routes</b></p>
            <pre>
                <code>{{snippet1}}</code>
             </pre>
        </div>
        <div class="notes">
            Then we have to register the routes in the application <code>@NgModule</code>
            <pre>
                <code>{{snippet2}}</code>
             </pre>
             by doing that we register our defines routes to the router engine of Angular.
        </div>
        <div class="notes">
            Then we have to define where we want our routed componets to be rendered in our application.
            we add the <code>router-outlet</code> tag in that place
        </div>
        <hr>
        <div class="notes">
            We can add navigation links in our components (as in the tabs in the navigation of the AppComponent)     
            one case is to simply add the path to an anchor element
        </div>
        <pre>
            <code>{{snippet3}}</code>
         </pre>
         <div class="notes"> The problem is that it is <span class="warning">reloading the application every time</span> , making it no longer a single page application</div>
         <h2 class="notes">Using routing links</h2>
         <div class="notes"> We should use a dedicated directive instead, <span class="warning">which used absolute and relative paths</span> </div>
         <pre>
            <code>{{snippet4}}</code>
         </pre>
         <div class="notes">The router link intercepts the click element and deletes the default action of reloading the browser, forwarding the request to the Angular's router</div>
         <h3 class="notes">Active router link</h3>
         <div class="notes">
            The directive (can be used within the anchor element itself or also outside) will add the css class in the input to the element if the corresponding link is active
         </div>
         <pre>
            <code>{{snippet5}}</code>
         </pre>
         <div class="notes">This will always make the link to '/' home active because it is done via matching (contains) the current path with the associated link. With the following configuration we force the exact match</div>
         <pre>
            <code>{{snippet6}}</code>
         </pre>
         <h3 class="notes">Change route programmatically</h3>
         <div>
            <button class="btn btn-primary" (click)="goToGame()">Go to Game programmatically</button>
         </div>
         <div>
            <button class="btn btn-primary" (click)="goToAccount()">Call account route with parameters</button>
         </div>
         
         <div class="notes">
            We can pass the expected parameters to the route and we can read them reactively on the account component
         </div>
         <pre>
            <code>{{snippet7}}</code>
         </pre>
         <div class="notes">With the check inside we make sure that we can still use the @Input of the component normally</div>
         <div class="notes">We can also call the router with the following anchor element by passing all the route parameters</div>
         <pre>
            <code>{{snippet8}}</code>
         </pre>
         <h3 class="notes">Passing query parameters</h3>
         <div class="notes"> <code>domain/requestParam1?queryParam1=value1&queryParam2=value2#idParameter</code> </div>
         <div>
            This is a link with a <code>routerLink</code> including all the component of the route defined as 
            <code> path: 'servers/:id/edit', component: ServerEditComponent</code>
            <a [routerLink]="['/servers', 5, 'edit']" 
            [queryParams]="{allowEdit:1}"
            fragment="loading"
            href="#"
            >Test link</a>
            <pre>
               <code>{{snippet9}}</code>
            </pre>
            <div class="notes"> <code>[queryParams] [fragment]</code> are bindable properties of the routerLink directive </div>
            <div>It will resolve to <code>/servers/5/edit?allowEdit=1#loading</code> we can also do it programmatically</div>
            <div><button class="btn btn-primary" (click)="goToServers(5)">goToServers(5)</button></div>
            <pre>
               <code>{{snippet10}}</code>
            </pre>
            <h3 class="notes">Retrive router paramaters</h3>
            <pre>
               <code>{{snippet11}}</code>
            </pre>
            <h3 class="notes">Nested Routing</h3>
            <div class="notes">Example of nested routes</div>
            <pre>
               <code>{{snippet12}}</code>
            </pre>
            <div class="notes">The children routes are not rendered in the normal <code>router-outlet</code> tag in the application. Child routes need a <span class="warning">separate outlet</span></div>
            <div class="notes">The corresponding link will be</div>
            <pre>
               <code>{{snippet13}}</code>
            </pre>
            <app-server-nested></app-server-nested>
            <h3 class="notes">Redirecting and wildcards</h3>
            <div class="notes">Make sure the <b>**</b> route is put at the end of the rules as the <span class="warning">default route</span></div>
            <pre>
               <code>{{snippet14}}</code>
            </pre>
            <h3 class="notes">Guards</h3>
            <div class="notes">Functionality executed before a route is loaded or after we leave a route</div>
            <div class="notes">Once the class is defined in our application we implement the method</div>
            <pre>
               <code>{{snippet15}}</code>
            </pre>
            <div class="notes">It can run asynchrounously (with premise or observabla) or synchrounously (boolean)</div>
            <div class="notes">To use it we add the guard to the route definition we want to be guarded, <span class="warning">it will be applied also to the children routes</span> </div>
            <pre>
               <code>{{snippet16}}</code>
            </pre>
            <div class="notes">The <code>canActivateChild()</code> method applies only to the child routes</div>
            <div>If we now click on the login button, we should be able to open the route</div>
            <div>
               <button class="btn btn-success" (click)="doLogin()">Login</button>
               <button class="btn btn-danger" (click)="doLogout()">Logout</button>
               <p class="bg-warning">{{userStatus}}</p>
            </div>
            <a [routerLink]="['/servers', 5, 'edit']" 
            [queryParams]="{allowEdit:1}"
            fragment="loading"
            href="#"
            >Click me (only reachable if logged in)</a>
            <div class="notes">The same way we added a <code>canDeactivate</code> guard to a route, to handle the condition where the route is going to be left</div>
            <pre>
               <code>{{snippet17}}</code>
            </pre>
            <div class="notes">The involved component here has to implement the <code>CanComponentDeactivate</code> interface to implement the specific behavior when we are going to leave the component</div>
            
         </div>
         <hr>
    </div>
</div>
