<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a routerLink="/">Input binding</a></li>
                <li role="presentation" ><a routerLink="/input-binding">Input binding</a></li>
                <li role="presentation" ><a [routerLink]="['/game']">Game</a></li>
                <li role="presentation" ><a routerLink="/directive">Directives</a></li>
                <li role="presentation" ><a routerLink="/services">Services injection</a></li>
                <li role="presentation" ><a routerLink="/routing">Routing</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="/observables">Observables</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>