<div class="row">
    <div class="col-xs-12 notes">
      <h3>Building a structural directive</h3>
      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
        <button class="btn btn-primary" (click)='onToggleCondition()'>Toggle condition</button>
        <p>This is the current value of condition: {{condition}}</p>
    </div>
    <div class="col-xs-9">
        <div *appUnless="condition">
            This is the content of the <code>appUnless</code> structural directive
        </div>
      
    </div>
  </div>